@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #17161C;
  color: #ffffff;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --point-color: #C2FE0F;
  --bg-color: #17161C;
  --card-bg: #1F1E24;
  --border-color: #2A2930;
}

